    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    }

    header {
    background-color: #ff751a;
      color: white;
      padding: 20px;
      text-align: center;
    }

    main {
      max-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      color: #333;
      margin-bottom: 10px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    label {
      margin-top: 15px;
      font-weight: bold;
    }

    input, textarea, select {
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      margin-top: 20px;
      padding: 12px;
      background-color: #ff914d;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    button:hover {
      background-color: #e67e22;
    }


    .section-divider {
      border-top: 2px solid #eee;
      margin: 40px 0;
    }
   .pet-card {
  width: 220px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.pet-card button {
  margin-top: 8px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.btn-editar {
  background-color: #4CAF50;
  color: white;
  margin-right: 5px;
}

.btn-excluir {
  background-color: #f44336;
  color: white;
}
footer {
  background-color: #ff751a;
  color: white;
  padding: 2rem 1rem;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

footer h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer nav {
  display: flex;
 
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

footer nav a:hover {
  color: #ffe0cc;
}

footer div a img {
  transition: transform 0.3s ease;
}

footer div a img:hover {
  transform: scale(1.1);
}

@media (min-width:375px), (max-width: 600px) {
  footer nav {
    flex-direction: row;
    gap: 0.3rem;
  }

  footer nav a {
    font-size: 0.7rem;
    font-weight: bolder;
  }
}